h1 {
        color: darkgoldenrod;
    }
    p {color: cadetblue;
    }
.pinktext { color: darkcyan;
}
#pinktext {color: indianred;}

#firstbox {
    width: 200px;
    height: 100px;
    background-color: lavender;
}
#secondbox { width: 500px;
    height:500px;
    background-color: lavenderblush;}
.shadowtext {
    text-shadow: 5px 5px 10px red; }